/*
*** BYLC assesment portal using Laravel 8 framework
*** Author: Md Maruf Billah
*** Date: 03/12/2021
*/
body{
    background-color: #111111;
}
.main-nav{
    padding: 10px;
    box-shadow: 0 5px 10px #333333;
}
.main-nav .logo img{
    height: 60px;
    width: auto;
}
.main-nav .account-button{
    float: right;
    margin-top: 10px;
}