/*
*** BYLC assesment portal using Laravel 8 framework
*** Author: Md Maruf Billah
*** Date: 03/12/2021
*/
body{
    background-color: #111111;
    color: #dddddd;
    font-family: 'Merriweather', serif;
}
h1, h2, h3,h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}
.main-nav{
    padding: 10px;
    box-shadow: 0 5px 10px #333333;
}
.main-nav .logo img{
    height: 60px;
    width: auto;
}
.main-nav .account-button{
    float: right;
    margin-top: 10px;
}
.home-welcome-text{
    color: white;
    text-align: center;
    margin-top: 150px;
}
.home-instruction-text{
    text-align: center;
    color: #aaaaaa;
}
.login-card, .register-card{
    max-width: 400px;
    margin: auto;
    margin-top: 150px;
    background-color: #111111;
    box-shadow: 0 0 20px #555555;
}
.login-card input, .register-card input{
    background-color: transparent;
    color: white;
    border-color: transparent;
    box-shadow: 0 0 2px white;
}
.login-card input:focus, .register-card input:focus{
    background-color: transparent;
    color: white;
    border-color: white;
    box-shadow: 0 0 2px white;
}
.login-card .card-link, .register-card .card-link{
    margin-top: 15px;
}
.login-card .card-link a, .register-card .card-link a{
    color: white;
    text-decoration: none;
}
.login-card .card-link a:hover, .register-card .card-link a:hover{
    text-decoration: underline;
}
.user-tab{
    margin-top: 30px;
}
.user-tab .nav-tabs{
    border-color: #aaaaaa;
}
.user-tab .nav-tabs .nav-item, .user-tab .nav-tabs .active{
    background-color: transparent;
    border-color: transparent;
}
.user-tab .nav-tabs .nav-item .nav-link:not(.active):hover{
    border-color: transparent;
    background-color: #333333;
}
.user-tab .nav-tabs .active{
    background-color: #aaaaaa;
}
.user-tab .nav-tabs .nav-item a{
    color: white;
}
.user-tab .nav-tabs .nav-item a.active{
    color: black;
}
.dashboard-clock{
    width: 100%;
    text-align: center;
}
.footer-credit{
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.footer-credit .footer-credit-text{
    padding: 5px;
    margin: 0px;
    background-color: black;
    color: #888888;
    text-align: center;
    font-size: 10px;
    font-style: italic;
}